/* .side {
	display: inline-block;
} */
/* * {
	align-items: center;
	Position: relative;
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

} */
body {
	position: relative;
	color: #d9e5f5;
	background: url("../images/background.jpg");
	font-family: sans-serif;
}

* {
	letter-spacing: 3.5px;
	font-family: sans-serif;
}

.chrome {
	position: relative;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
	font-size: 118px;
	font-style: italic;
	line-height: 1.5;
	background-image: repeating-linear-gradient(#07a1f5 10%, #9218f5 46%, rgb(245, 241, 37) 70%, #eaec41 55%, #6bf18d 44%, #f18440 90%, #f139f1 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 7px #fdddf4;
}

.chrome::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	padding-right: 400px;
	content: "CHROME";
	background-image: linear-gradient(-40deg, transparent 0%, transparent 20%, #fff 5%, transparent 10%, transparent 10%);
	background-position: -680px 0;
	background-clip: text;
	animation-name: chrome_effect;
	animation-duration: 6s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	filter: drop-shadow(3px 3px 25px #3208f0);
	-webkit-text-stroke: 0;
}

.dreams {
	position: absolute;
	z-index: 20;
	margin: 0;
	margin-top: -70px;
	margin-left: 455px;
	font-family: "Mr Dafoe", cursive;
	font-size: 90px;
	color: #f975f7;
	filter: drop-shadow(2px 2px 20px #f008b7);
	transform: rotate(-10deg);
	-webkit-text-stroke: 2px #f008b7;
}

#container {
	display: inline-block;
	font-size: 30px;
	color: #07a1f5;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.06);
	border: 22px solid #f805c3;
	border-radius: 15px;
	backdrop-filter: blur(5px);
	text-align: center;
	padding: 22px;
	border-width: 3px;
	border-style: outset;
}

h2 {
	color: #f975f7;
	filter: drop-shadow(2px 2px 20px #f008b7);
	-webkit-text-stroke: 2px #f008b7;
}

#current-word {
	font-size: 2em;
	border: 2px solid #f805c3;
	border-radius: 22px;
	backdrop-filter: blur(5px);
	border-block-color: #8e52f0;
	letter-spacing: 11px;
	padding: 28px;
}

#current-word-section {
	z-index: 20;
	margin: 0;
	font-family: "Mr Dafoe", cursive;
	font-size: 1em;
	color: #9218f5;
	filter: drop-shadow(2px 2px 20px #f008b7);
	-webkit-text-stroke: 2px #f008b7;
}

div {
	display: inline;
	text-align: center;
}

.band-image {
	border-radius: 25px;
	border: 24px #8e52f0;
}

#band-div {
	padding: 25px;
	filter: brightness(80%);
	display: inline-block;
}

#game-section {
	display: inline-block;
	padding: 10px;
	margin-bottom: 35px;
	box-shadow: inset 0 -3px 0 0 #f805c3, 0 2px 0 0 #8e52f0;
}

/* Grid column styles */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	width: 100%;
}

/* Responsive styles for mobile */
@media only screen and (max-width: 768px) {

	/* Adjust font size for body */
	body {
		font-size: 14px;
	}

	/* Adjust font size and line height for .chrome */
	.chrome {
		font-size: 64px;
		line-height: 1.2;
	}

	/* Adjust font size, margin, and padding for .dreams */
	.dreams {
		font-size: 48px;
		margin-top: -30px;
		margin-left: 230px;
	}

	/* Adjust font size, border size, and padding for #container */
	#container {
		font-size: 18px;
		border: 12px solid #f805c3;
		padding: 12px;
		border-width: 2px;
	}

	/* Adjust font size, border size, and padding for #current-word */
	#current-word {
		font-size: 1.5em;
		border: 1px solid #f805c3;
		border-radius: 12px;
		letter-spacing: 7px;
		padding: 14px;
	}
}